body{
    background-color: aliceblue;
}
.colorCarrito{
    color: white;
}
.Logo{
    width: 50px;
    
}
.cardProductos{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.cardStyles{
    margin-left: 20px;
    margin-bottom: 10px;
}
.imgCard{
    width: 260px;
    height: 240px;
}
.botonDetailItem{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 800px;
    margin-bottom: 50px;
}
.cardDetailContainer{
    margin-top: 30px;
    width: 700px;
   
}
.imgDetail{
    width: 130%;
}